.image-item {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-bottom: 10px;
  width: 45%;
  max-width: 128px;
}

@media screen and (min-width: 768px) {
  .image-item {
    max-width: 198px;
    margin-bottom: 20px;
  }
}

.image {
  width: 60px;
  height: 60px;
}

@media screen and (min-width: 768px) {
  .image {
    width: 70px;
    height: 70px;
  }
}
